################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

.vs
tests/bin
tests/obj
lesson/.vs/lesson
lesson/bin
lesson/obj
